<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <h5 class="mb-3">商品一覧</h5>
    </div>
  </div>
  <div class="row">
     <div class="col-md-8 offset-md-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td></td>
            </tr>
          <% end %>
          <%= paginate @items %>
        </tbody>
      </table>
    </div>
  </div>
</div>