<div class="container">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <h4>管理者ログイン</h4>
    </div>
    <div class="col-lg-7 mx-auto mt-4">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <table class="table mt-4">
          <tr>
            <th><%= f.label :email, 'メールアドレス' %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th><%= f.label :password, 'パスワード' %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-10 text-center">
        <%= f.submit "ログイン", class: "btn btn-md btn-primary" %>
　　　<% end %>
　　　</div>
　　</div>
　</div>
</div>

