<div class="container">
  <div class="row mb-5">
    <b class="mb-3">配送先一覧</b>
  </div>
  <div class="row mb-10">
    <div class="col-md-6 text-center">
      <%= form_with model: @address do |f| %>
      <table class="table">
        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <td><label for="inputPostalCode" class="form-label"></label>
              <%= f.text_field :postal_code, autofocus: true, id:"inputPostalCode", placeholder:"0000000" %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><label for="inputAddress" class="form-label"></label>
              <%= f.text_field :address, autofocus: true, id:"inputAddress", placeholder:"東京都渋谷区代々木神園町0-0" %></td>
        </tr>
        <tr>
          <th>宛名</th>
          <td><label for="inputAddressName" class="form-label"></label>
              <%= f.text_field :name, autofocus: true, id:"inputAddressName", placeholder:"令和道子" %></td>
        </tr>
      </table>
      <%= f.submit '新規登録', class: "btn btn-md btn-success" %>
      <% end %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-8 offset-md-1 mb-4">
      <table class="table">
        <!--<thead>-->
        <!--  <tr>-->
        <!--    <th>郵便番号</th>-->
        <!--    <th>住所</th>-->
        <!--    <th>宛名</th>-->
        <!--    <th></th>-->
        <!--  </tr>-->
        <!--</thead>-->
        <!--<tbody>-->
          <% @addresses.each do |address| %>
            <!--<tr>-->
            <%= address.postal_code %>
            <%= address.address %>
            <%= address.name %>
            <!--</tr>-->
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>