<div class="container">
  <h5 class="mb-3">商品一覧（全<%= @items.count %>件）</h5>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3">
      　<%= link_to item_path(item.id) do %>
      　  <%= image_tag item.get_image, size: "160x160" %>
        <% end %></br>
      <b>商品名</b>
      <%= item.name %></br>
      ¥<%= item.price %>
      </div>
    <% end %>
    <%= paginate @items %>
  </div>
</div>